input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    border-radius:5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #888a85;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #0e0e0e, 0px 0px 1px #0d0d0d;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
    border-radius:5px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

        .map_section { background-color: #c1b198; }

        /*body { font-family: Open Sans; width: 1280px;}*/
svg { border: solid black 0px; }
.axis path { fill: none; stroke: black; }
.axis line { stroke: black; }
.axis text { font-size: 12pt; }
.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  pointer-events: none;
  color: black;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;

}
.label { font-weight: bold; }
circle { stroke-width:3px; stroke-opacity: 0.3; }
#gross svg {float: left;}
.poster img {
    width: 150px;
    float: left;
    padding: 0px 15px 15px 0px;
}
#leading {position: relative; bottom: 50px; left:350px;}
#teams {margin-top: 50px;}
#teams img {width: 30px; height: 30px;}
#teams img:hover {opacity:0.5; cursor: pointer;}
.movieCharacter {cursor: pointer;}

table {
    border:1px black;
}
svg {background: transparent;}
.graticule {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: .5px;
}
.boundary {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}
.dim {opacity: .25;}
image {position:relative; float:left; clear:both;}
.Hero, .Villain {fill:none;}
.borderStroke {stroke:white; fill:none;}
.Hero {stroke:white;}
.Villain {stroke: black;}

html {font-family: 'Oswald', sans-serif; font-weight:100; background: #f03138;}
.wrapper {background: #f03138;}
.header { height:250px; /*width:1280px; margin:50px;*/ margin-bottom:0px;border-bottom:1px dotted white;}
.hidden {display:none;}
#controls {/*width:250px;*/ position:relative; text-align:left; float:left; margin-left: 10px;}
.heros {/*width: 800px;*/ /*position:relative;*/ float:left; /*margin-left:25px;*/}
.row {/*width:1280px;*/ clear:both; display:block; color:green; min-height:100px;min-height:50px;}
.row:before, .row:after {display:table; content: "";}
h5 {color:white; font-weight:100; font-size:18px; margin-top:5px;}
ul > li {color:white; font-weight:100; font-size:15px;}
ul > li > input {position:relative; top:-2px;}
#year {font-size:3em; width:100px; margin-top:25px; font-weight:400; border-right:1px dotted white; margin-right:15px; padding-right:15px;}
#fact {font-size:1.75em; max-width:750px; margin-top:25px;}
#year, #fact {color:white;
    position: relative;
    float: left;}
td {padding:5px;}