input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    border-radius:5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #888a85;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #0e0e0e, 0px 0px 1px #0d0d0d;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
    border-radius:5px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/*input[type=range] {*/
/*!*removes default webkit styles*!*/
/*-webkit-appearance: none;*/

/*!*fix for FF unable to apply focus style bug *!*/
/*border: 1px solid white;*/

/*!*required for proper track sizing in FF*!*/
/*width: 300px;*/
/*}*/
/*input[type=range]::-webkit-slider-runnable-track {*/
/*height: 5px;*/
/*background: #ddd;*/
/*border: none;*/
/*border-radius: 3px;*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
/*-webkit-appearance: none;*/
/*border: none;*/
/*height: 30px;*/
/*width: 30px;*/
/*background: goldenrod;*/
/*margin-top: -4px;*/
/*}*/
/*input[type=range]:focus {*/
/*outline: none;*/
/*}*/
/*input[type=range]:focus::-webkit-slider-runnable-track {*/
/*background: #ccc;*/
/*}*/

/*input[type=range]::-moz-range-track {*/
/*width: 300px;*/
/*height: 5px;*/
/*background: #ddd;*/
/*border: none;*/
/*border-radius: 3px;*/
/*}*/
/*input[type=range]::-moz-range-thumb {*/
/*border: none;*/
/*height: 16px;*/
/*width: 16px;*/
/*border-radius: 50%;*/
/*background: goldenrod;*/
/*}*/

/*!*hide the outline behind the border*!*/
/*input[type=range]:-moz-focusring{*/
/*outline: 1px solid white;*/
/*outline-offset: -1px;*/
/*}*/

/*input[type=range]::-ms-track {*/
/*width: 300px;*/
/*height: 5px;*/

/*!*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead *!*/
/*background: transparent;*/

/*!*leave room for the larger thumb to overflow with a transparent border *!*/
/*border-color: transparent;*/
/*border-width: 6px 0;*/

/*!*remove default tick marks*!*/
/*color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
/*background: #777;*/
/*border-radius: 10px;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
/*background: #ddd;*/
/*border-radius: 10px;*/
/*}*/
/*input[type=range]::-ms-thumb {*/
/*border: none;*/
/*height: 16px;*/
/*width: 16px;*/
/*border-radius: 50%;*/
/*background: goldenrod;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
/*background: #888;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
/*background: #ccc;*/
/*}*/

/*output {*/
/*position: absolute;*/
/*background-image: linear-gradient(top, #444444, #999999);*/
/*width: 40px;*/
/*height: 30px;*/
/*text-align: center;*/
/*color: white;*/
/*border-radius: 10px;*/
/*display: inline-block;*/
/*font: bold 15px/30px Georgia;*/
/*bottom: 175%;*/
/*left: 0;*/
/*margin-left: -1%;*/
/*}*/
/*output:after {*/
/*content: "";*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*border-top: 10px solid #999999;*/
/*border-left: 5px solid transparent;*/
/*border-right: 5px solid transparent;*/
/*top: 100%;*/
/*left: 50%;*/
/*margin-left: -5px;*/
/*margin-top: -1px;*/
/*}*/
